<div class="show_form">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(@product.price) %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag @product.url %>
  </p>

  <% if current_user && current_user.admin == true %>
  <button class="form_link"><%= link_to 'Edit', edit_product_path(@product) %></button>
  <% end %>
  <button class="form_link"><%= link_to 'Back', products_path %></button>
</div>
