<div class="show_form">
  <p id="notice"><%= notice %></p>

  <h3>
    <span class="caption_title">Name:</span>
    <span class="caption_value"><%= @product.name %></span>
  </h3>

  <h3>
    <span class="caption_title">Price:</span>
    <span class="caption_value"><%= number_to_currency(@product.price) %></span>
  </h3>

  <h3>
    <span class="caption_title">Description:</span>
    <span class="caption_value"><%= @product.description %></span>
  </h3>

  <h3>
    <span class="caption_title">Image:</span>
    <span class="caption_value"><%= image_tag @product.url %></span>
  </h3>

  <% if current_user && current_user.admin == true %>
  <span class="button"><%= link_to 'Edit', edit_product_path(@product) %></span>
  <% end %>
  <span class="button"><%= link_to 'Back', products_path %></span>
  <span class="button"><%= link_to 'Add to cart', pending_purchases_path(@product), method: :post %></span>
</div>
