<!DOCTYPE html>
<html>
<head>
  <title>Shoppe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
</head>
<header>
  <h1>Bouma's site</h1>
  <% if user_signed_in? %>
    <button><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></button>
  <% else %>

  <% end %>
</header>
<body>

<%= yield %>

</body>
</html>
