<!DOCTYPE html>
<html>
<head>
  <title>Shoppe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<header>
  <div class="main_title">Bouma's site</div><br>
  <% if user_signed_in? %>
    <button class="main_page"><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></button>
  <% else %>

  <% end %>
  <div class="cart_button"><%= link_to "Cart", cart_index_path %></div>
</header>
<body>

<%= yield %>

</body>
</html>
